<%= render "partials/sidebar" %>
<div class="col-span-5 lg:col-span-4 xl:col-span-5 p-6 bg-white shadow-lg rounded-xl">
  <% if @team.nil? %>
    <% raise "Team not set" %>
  <% end %>

  <div class="flex">
    <div class="ml-auto">
      <%= link_to "Invitar Miembros", new_user_invitation_path, class: "text-green-600 hover:underline text-sm mr-4" %>
      <%= link_to "Editar Equipo", edit_team_path, class: "text-green-600 hover:underline text-sm" %>
    </div>
  </div>

  <h1 class="text-2xl font-bold mb-4"><%= @team.name %></h1>

  <% if @team.blank? or @team.members.one? %>
    <div class="flex flex-col items-center justify-center bg-green-950 bg-blur-sm shadow-lg rounded-lg p-5 w-96 h-100 mt-10 mx-auto text-white">
      <h2 class="text-3xl font-bold mb-4">Tu equipo está vacío!</h2>
      <p class="mb-4">↓ Ingresa miembros acá ↓</p>
      <%= link_to "Invitar", new_user_invitation_path, class: "w-full px-6 py-3 bg-green-800 hover:bg-green-700 text-white font-medium rounded-lg transition duration-200 cursor-pointer text-center" %>
    </div>
  <% else %>
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="align-bottom">
              <tr>
                <th scope="col" class="pl-4 py-3 font-bold text-xs text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap text-slate-500 opacity-70">Nombre</th>
                <th scope="col" class="px-1 py-3 font-bold text-xs text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap text-slate-500 opacity-70">Rol</th>
                <th scope="col" class="px-1 py-3 font-bold text-xs text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap text-slate-500 opacity-70">Leads Activos</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @team.members.reject { |x| x.name.nil? }.each do |user| %>
                <tr class="hover:bg-gray-50">
                  <td class="pl-2 py-4 whitespace-nowrap text-sm text-gray-900 flex items-center gap-3">
                    <div class="w-10 h-10 flex items-center justify-center rounded-full bg-green-800 text-slate-100 text-lg">
                      <%= user.name[0].upcase + user.last_name[0].upcase %>
                    </div>
                    <div class="flex flex-col">
                      <%= link_to user.name + " " + user.last_name, user_profile_path(user), class: "font-medium text-gray-900" %>
                      <span class="text-xs text-gray-500"><%= user.email %></span>
                    </div>
                  </td>
                  <td class="px-1 py-4 whitespace-nowrap text-sm text-center text-gray-900">
                    <span class="<%= user.admin? ? "bg-gradient-to-bl from-green-600 to-lime-400" : "bg-slate-400" %> px-2.5 py-1.5 text-xs rounded-xl py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold capitalize leading-none text-white"><%= user.role.capitalize %></span>
                  </td>
                  <td class="px-1 py-4 whitespace-nowrap text-sm text-center text-gray-900">
                    <%= user.leads.where(status: ['wip', 'nuevo']).count %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

<% unless @team.blank? || current_user.member? %>
  <h2 class="text-xl font-bold text-gray-700 mt-6 mb-3">Invitaciones Enviadas</h2>
  <div class="bg-gray-50 p-4 rounded-lg shadow-sm">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="align-bottom">
        <tr>
          <th class="px-6 py-3 font-bold text-xs text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap text-slate-500 opacity-70">Email</th>
          <th class="px-6 py-3 font-bold text-xs text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap text-slate-500 opacity-70">Fecha de Invitación</th>
          <th class="px-6 py-3 font-bold text-xs text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap text-slate-500 opacity-70"></th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @team.members.select { |x| x.name.nil? }.each do |user| %>
          <tr>
            <td class="pl-4 py-3 whitespace-nowrap text-sm text-gray-900"><%= user.email %></td>
            <td class="py-3 whitespace-nowrap text-center text-sm text-gray-500"><%= user.created_at.strftime('%d/%m/%Y') %></td>
            <td class="px-4 py-3 whitespace-nowrap text-center text-sm">
              <%= link_to "Eliminar", invitation_path(user), method: :delete, data: { confirm: "¿Eliminar invitación?" }, class: "text-red-600 hover:text-red-800" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

</div>

