<%= render "partials/sidebar" %>
<div class="col-span-5 lg:col-span-4 xl:col-span-5 p-6 bg-white shadow-lg rounded-xl">
  <div class="flex">
    <div class="ml-auto">
      <%= link_to "Editar Equipo", edit_team_path, class: "text-green-600 hover:underline text-sm" %>
    </div>
  </div>
  <h1 class="text-2xl font-bold mb-4"><%= @team.name %></h1>
  <%# cambiar por @team.members.one? una vez implementado el signup de team members %>
  <% if @team.blank? or @team.members.one? %>
  <div class="flex flex-col items-center justify-center bg-green-950 bg-blur-sm shadow-lg rounded-lg p-5 w-96 h-100 mt-10 mx-auto text-white">
    <h2 class="text-3xl font-bold mb-4">Tu equipo está vacío!</h2>
    <p class="mb-4">↓ Ingresa miembros acá ↓</p>
    <%= link_to "Invitar", new_invitation_path, class: "w-full px-6 py-3 bg-green-800 hover:bg-green-700 text-white font-medium rounded-lg transition duration-200 cursor-pointer text-center" %>
  </div>
  <% else %>
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider hidden md:table-cell">Nombre</th>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider hidden lg:table-cell">Mail</th>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider hidden lg:table-cell">Rol</th>

              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @team.members.each do |user| %>
                <tr class="hover:bg-gray-50">
                  <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-900 hidden md:table-cell"><%= user.name + " " + user.last_name %></td>
                  <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-900"><%= user.email %></td>
                  <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-900"><%= user.role %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>