      <div class="bg-gradient-to-r from-green-900 via-green-800 to-green-700 p-6 text-white rounded-xl">
        <div class="flex items-center space-x-6">
          <div class="flex-shrink-0">
            <div class="w-24 h-24 bg-green-400 rounded-full flex items-center justify-center <%= @user.emoji ? "text-6xl" : "text-4xl" %>">
              <%= initials_or_emoji(@user) %>
            </div>
          </div>
          <div>
            <h1 class="text-2xl font-bold"><%= @user.name %> <%= @user.last_name %></h1>
            <p class="text-green-100"><%= @user.email %></p>
            <span class="inline-flex items-center px-3 py-1 mt-2 rounded-full text-sm font-medium bg-green-800 text-green-100">
              <%= @user.role&.titleize %>
            </span>
          </div>
          <div class="flex justify-end w-full mb-auto text-slate-200 hover:text-white">
            <% if @user == current_user %>
              <%= link_to "Editar Perfil",
               edit_profile_path,
              data: { turbo_frame: "modal"},
              class: "ml-auto text-l pr-2 hover:scale-110 transition" %>
              <span class="mx-1">|</span>
            <% end %>
            <%= link_to "Cerrar",
            team_path(current_user.team_id),
            data: { action: "click->slide-panel#close" }, class: "text-l pl-2 hover:scale-110 transition mr-2" %>
          </div>
        </div>
      </div>