<%= render "partials/sidebar" %>
  
<%= turbo_frame_tag "profile_panel", class: "col-span-5 lg:col-span-4 xl:col-span-5" do %>
  <div 
    data-controller="slide-panel"
    data-slide-panel-active-class="translate-y-0"
    data-slide-panel-inactive-class="translate-y-full"
    class="fixed w-full lg:w-3/4 xl:w-4/5 h-[95vh] transform transition-transform duration-300 ease-in-out translate-y-full bg-white shadow-lg rounded-xl overflow-y-auto">
    <div class="bg-gradient-to-r from-green-900 via-green-800 to-green-700 p-6 text-white">
      <div class="flex items-center space-x-6">
        <div class="flex-shrink-0">
          <div class="w-24 h-24 bg-green-400 rounded-full flex items-center justify-center <%= @user.emoji ? "text-6xl" : "text-4xl" %>">
            <%= initials_or_emoji(@user) %>
          </div>
        </div>
        <div>
          <h1 class="text-2xl font-bold"><%= @user.name %> <%= @user.last_name %></h1>
          <p class="text-green-100"><%= @user.email %></p>
          <span class="inline-flex items-center px-3 py-1 mt-2 rounded-full text-sm font-medium bg-green-800 text-green-100">
            <%= @user.role.titleize %>
          </span>
        </div>
        <div class="flex justify-end w-full mb-auto text-slate-200 hover:text-white">
          <% if @user == current_user %>
            <%= link_to "Editar Perfil",
                edit_user_profile_path,
                class: "ml-auto text-l pr-2 hover:scale-110 transition" %>
            <span class="mx-1">|</span>
          <% end %>
          <%= link_to "Cerrar", 
              team_path(current_user.team_id),
              data: { action: "click->slide-panel#close" }, class: "text-l pl-2 hover:scale-110 transition mr-2" %>
        </div>
      </div>
    </div>

    <%= render "stats_grid" %>

    <% if current_user.admin? && @user != current_user %>
      <div class="px-6 py-4 bg-gray-50 border-t border-gray-200">
            <%= button_to "Remove from Team",
                { action: "remove_from_team", controller: "teams", id: @user.id },
                method: :patch,
                class: "px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500",
                data: { 
                  turbo_confirm: "Are you sure you want to remove this member from the team?",
                  action: "click->slide-panel#close" 
                } %>
      </div>
    <% end %>
  </div>
<% end %>