<%= render "partials/sidebar" %>

<div class="col-span-5 lg:col-span-4 xl:col-span-5 p-6 bg-white shadow-lg rounded-xl">
  <%= link_to "Volver a perfil", client_path(@client), class: "text-green-600 hover:underline text-sm" %> |
  <%= link_to "Volver a Portafolio", client_portfolio_path(@client, @portfolio), class: "text-green-600 hover:underline text-sm" %>

  <h1 class="text-3xl font-bold text-gray-800 mt-4">Editar Portafolio</h1>

  <%= form_with(model: [@client, @portfolio], url: client_portfolio_path(@client, @portfolio), local: true, method: :patch) do |f| %>
    <div class="mb-4">
      <%= f.label :name, "Nombre", class: "block text-sm font-medium text-gray-700 mb-2" %>
      <%= f.text_field :name, class: "w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 outline-none transition" %>
    </div>

    <div class="mb-4">
      <%= render "partials/broker_field", form: f%>
    </div>

    <div>
      <%= f.label :account_number, "Número de Comitente", class: "block text-sm font-medium text-gray-700 mb-2" %>
      <%= f.number_field :account_number, 
            class: "w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 outline-none transition"%>
    </div>

    <div class="my-6">
      <%= f.submit "Guardar Cambios", class: "w-full px-6 py-3 bg-green-800 hover:bg-green-700 text-white font-medium rounded-lg transition duration-200 cursor-pointer" %>
    </div>
  <% end %>

  <h2 class="text-2xl font-bold text-gray-800 mt-8">Activos</h2>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-4">
    <div class="bg-white rounded p-6">
      <table class="w-full">
        <thead>
          <tr>
            <th class="text-left">Ticker</th>
            <th class="text-right">Cantidad</th>
            <th class="text-right">Precio</th>
            <th class="text-right">Acciones</th> <%# Added actions column %>
          </tr>
        </thead>
        <tbody>
          <% @holdings.each do |holding| %>
            <tr class="hover:bg-gray-50">
              <td><%= holding.ticker %></td>
              <td class="text-right"><%= holding.quantity %></td>
              <td class="text-right"><%= holding.cost_basis %></td>

              <td class="text-right"> <%# Added action buttons %>
                <%= link_to "Editar", edit_portfolio_holding_path(@portfolio, holding), class: "text-blue-500 hover:underline mr-2" %>
                <%= link_to "Eliminar", portfolio_holding_path(@portfolio, holding), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro? Esta acción no se puede deshacer" }, class: "text-red-500 hover:underline" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "Agregar Activo", new_portfolio_holding_path(@client, @portfolio), class: "mt-4 btn btn-primary" %>
    </div>
  </div>
</div>