<%= render "partials/tabbar" %>

<div class="col-span-6 p-6 bg-white shadow-lg rounded-xl">
    <%= link_to "Volver a perfil", client_path(@portfolio.client), class: "text-green-600 hover:underline text-sm" %> |
    <%= link_to "Editar", edit_client_portfolio_path(@portfolio.client, @portfolio), class: "text-green-600 hover:underline text-sm" %> 

    


<div class="container mx-auto px-4 py-6">
  <div class="flex justify-between items-top mb-6">
    <div>
      <h1 class="text-3xl font-bold text-gray-800">
        <%= @portfolio.name %>
      </h1>
      <h2 class="text-l text-gray-500 mt-0"> <%= @portfolio.broker %> (<strong class="font-medium"><%= @portfolio.account_number %></strong>)</h2>
    </div>
    <%= link_to "Agregar Activo", new_portfolio_holding_path(@portfolio), 
        class: "ml-auto btn btn-primary", 
        data: { turbo_frame: "new_holding" } %>
  </div>
   <h2 class="text-2xl font-bold">Tenencias</h2>
   <div class="h-0.5 w-full mb-2 bg-gradient-to-b from-slate-100 to-slate-200 rounded-lg shadow-xl"></div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <div class="bg-white rounded p-6">


      <table class="w-full">
        <thead>
          <tr>
            <th class="text-left">Ticker</th>
            <th class="text-right">Quantity</th>

            <th class="text-right">Current Value</th>
            <th class="text-right">% of Portfolio</th>
            <th class="text-right">P/L</th>
          </tr>
        </thead>
        <tbody>
          <% @holdings_with_metrics.each do |metric| %>
            <%= turbo_frame_tag dom_id(metric[:holding]) do %>
              <tr class="hover:bg-gray-50">
                <td>
                  <%= link_to metric[:holding].ticker, 
                      portfolio_holding_path(@portfolio, metric[:holding]),
                      data: { turbo_frame: "_top" } %>
                </td>
                <td class="text-right"><%= metric[:holding].quantity %></td>

                <td class="text-right"><%= number_to_currency(metric[:current_value]) %></td>
                <td class="text-right"><%= number_to_percentage(metric[:percentage], precision: 1) %></td>
                <td class="text-right <%= metric[:profit_loss] >= 0 ? 'text-green-600' : 'text-red-600' %>">
                  <%= number_to_percentage(metric[:profit_loss_percentage], precision: 0) %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="font-bold border-t">
            <td>Total</td>
            <td></td>
            <td class="text-right"><%= number_to_currency(@portfolio.total_value) %></td>
            <td class="text-right">100%</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="bg-white rounded p-6">
      <%= pie_chart @holdings_with_metrics.map { |metric| 
        [metric[:holding].ticker, number_to_percentage(metric[:percentage])] 
      }, legend: "bottom", suffix: "%"  %>
    </div>
  </div>

  <%= turbo_frame_tag "new_holding" %>
</div>