<%= render "partials/tabbar" %>
<div class="col-span-6 p-6 bg-white shadow-lg rounded-xl">
  <%= link_to "Volver a perfil", client_path(@portfolio.client), class: "text-green-600 hover:underline text-sm" %> |
  <%= link_to "Editar", edit_client_portfolio_path(@portfolio.client, @portfolio), class: "text-green-600 hover:underline text-sm" %>
    <div class="mx-auto px-2 py-6">
      <div class="flex justify-between items-top mb-6">
        <div>
          <h1 class="text-3xl font-bold text-gray-800">
            <%= @portfolio.name.blank? ? "#{@portfolio.broker.truncate(20, separator: /\s/)}" : @portfolio.name %>
          </h1>
          <h2 class="text-l text-gray-500 mt-0"> 
            <%= @portfolio.broker %> (<strong class="font-medium"><%= @portfolio.account_number %></strong>)
          </h2>
          <p class="text-sm text-gray-600 mt-1">
            Moneda: <%= @portfolio.currency&.code.upcase || 'N/A' %> | <%= @portfolio.country || 'N/A' %>
          </p>
        </div>
        <div class="ml-auto">
          <%= render AddbuttonComponent.new(
                link: new_portfolio_holding_path(@portfolio),
                data:  { turbo_frame: "modal" }
              ) %>
        </div>
      </div>
    <%= turbo_frame_tag "portfolio_show" do %>  
      <%= render partial: "portfolios/show" %>
    <% end %>
      
    </div>

  </div>