<%= render "partials/tabbar" %>
<div class="col-span-6 p-6 bg-white shadow-lg rounded-xl">
  <%= link_to "Volver a perfil", client_path(@portfolio.client), class: "text-green-600 hover:underline text-sm" %> |
  <%= link_to "Editar", edit_client_portfolio_path(@portfolio.client, @portfolio), class: "text-green-600 hover:underline text-sm" %>
  
  <div class="container mx-auto px-4 py-6">
    <%= turbo_frame_tag "new_holding" %>

    <div class="flex justify-between items-top mb-6">
      <div>
        <h1 class="text-3xl font-bold text-gray-800">
          <%= @portfolio.name %>
        </h1>
        <h2 class="text-l text-gray-500 mt-0"> 
          <%= @portfolio.broker %> (<strong class="font-medium"><%= @portfolio.account_number %></strong>)
        </h2>
        <p class="text-sm text-gray-600 mt-1">
          Moneda: <%= @portfolio.currency&.code.upcase || 'N/A' %> | <%= @portfolio.country || 'N/A' %>
        </p>
      </div>
      <div class="ml-auto">
        <%= link_to "Agregar Activo", new_portfolio_holding_path(@portfolio),
            class: "btn btn-primary",
            data: { turbo_frame: "modal" } %>
      </div>
    </div>
    
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-8">
      <div class="bg-white rounded p-4 shadow border border-gray-100">
        <h3 class="text-lg font-semibold text-gray-700 mb-2">Total Value</h3>
        <p class="text-2xl font-bold"><%= number_to_currency(@total_value) %></p>
      </div>
      
      <div class="bg-white rounded p-4 shadow border border-gray-100">
        <h3 class="text-lg font-semibold text-gray-700 mb-2">Total Cost</h3>
        <p class="text-2xl font-bold"><%= number_to_currency(@portfolio.total_cost_basis_in_portfolio_currency) %></p>
      </div>
      
      <div class="bg-white rounded p-4 shadow border border-gray-100">
        <h3 class="text-lg font-semibold text-gray-700 mb-2">Total Profit/Loss</h3>
        <p class="text-2xl font-bold <%= @total_profit_loss >= 0 ? 'text-green-600' : 'text-red-600' %>">
          <%= number_to_currency(@total_profit_loss) %> 
          (<%= number_to_percentage(@total_profit_loss_percentage, precision: 1) %>)
        </p>
      </div>
    </div>
    
    <h2 class="text-2xl font-bold">Tenencias</h2>
    <div class="h-0.5 w-full mb-2 bg-gradient-to-b from-slate-100 to-slate-200 rounded-lg shadow-xl"></div>
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div class="bg-white rounded p-6 shadow border border-gray-100">
        <table class="w-full">
          <thead>
            <tr class="border-b">
              <th class="text-left pb-2">Security</th>
              <th class="text-right pb-2">Quantity</th>
              <th class="text-right pb-2">Current Value</th>
              <th class="text-right pb-2">% of Portfolio</th>
              <th class="text-right pb-2">P/L %</th>
            </tr>
          </thead>
          <tbody>
            <% @holdings_metrics.each do |data| %>
              <% holding = data[:holding] %>
              <%= turbo_frame_tag dom_id(holding) do %>
                <tr class="hover:bg-gray-50 border-b border-gray-100">
                  <td class="py-2">
                    <%= link_to "#{holding.security.ticker}", portfolio_holding_path(@portfolio, holding), data: { turbo_frame: "_top" } %>
                    <div class="text-xs text-gray-500"><%= holding.security.name.truncate(20) %></div>
                  </td>
                  <td class="text-right py-2"><%= holding.quantity.round %></td>
                  <td class="text-right py-2"><%= number_to_currency(data[:current_value]) %></td>
                  <td class="text-right py-2"><%= number_to_percentage(data[:percentage], precision: 1) %></td>
                  <td class="text-right py-2 <%= data[:profit_loss] >= 0 ? 'text-green-600' : 'text-red-600' %>">
                    <%= number_to_percentage(data[:profit_loss_percentage], precision: 1) %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>

          <tfoot>
            <tr class="font-bold">
              <td class="pt-2">Total</td>
              <td></td>
              <td class="text-right pt-2"><%= number_to_currency(@total_value) %></td>
              <td class="text-right pt-2">100%</td>
              <td class="text-right pt-2 <%= @portfolio.total_profit_loss_percentage >= 0 ? 'text-green-600' : 'text-red-600' %>">
                <%= number_to_percentage(@portfolio.total_profit_loss_percentage, precision: 1) %>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      
      <div class="bg-white rounded p-6 shadow border border-gray-100">
        <div class="mb-6">
          <h3 class="text-lg font-semibold mb-2">Portfolio</h3>
          <%= pie_chart @holdings_metrics.map { |data|
            ["#{data[:holding].security.ticker} (#{data[:holding].security.currency.code})", data[:percentage]]
          }, legend: "bottom", suffix: "%" %>

        </div>
        
        <div class="mt-8">
          <h3 class="text-lg font-semibold mb-2">Tipo de Activo</h3>
          <%= pie_chart @portfolio.diversity_by_type, legend: "bottom", suffix: "%" %>
        </div>
      </div>
    </div>
    
  </div>
</div>