<div class="flex">
  <%= link_to "Crear Portfolio", new_client_portfolio_path(@client),
              class: "text-green-600 hover:underline text-sm ml-auto" %>
</div>

<h2 class="text-2xl font-bold text-gray-800 mb-4">📊 Portafolios</h2>

<% if @client.portfolios.any? %>
    <!-- multiple portfolios -->
    <% unless @client.portfolios.one? %>
    <div data-controller="portfolio-tabs"
         data-portfolio-tabs-client-id-value="<%= @client.id %>"
         class="tabs mb-4 flex space-x-4 border-b border-gray-200">
      <% @client.portfolios.each do |portfolio| %>
        <button
          data-portfolio-tabs-target="button"
          data-action="click->portfolio-tabs#switch"
          data-portfolio-id="<%= portfolio.id %>"
          class="py-2 px-4 text-gray-600 hover:text-green-600 focus:outline-none">
          <%= portfolio.name.presence || portfolio.broker.truncate(20, separator: " ") %>
        </button>
      <% end %>
    </div>
    <% end %>

    <turbo-frame id="portfolio-summary">
      <%= render "portfolios/summary",
                 portfolio: @client.portfolios.first,
                 prices: @prices %>
    </turbo-frame>


<% else %>
  <!-- zero portfolios fallback -->
<%= link_to new_client_portfolio_path(@client),
            class: "flex flex-col items-center space-around w-full h-48
                   border-4 border-dotted border-slate-200 rounded-xl 
                   text-slate-200 hover:border-green-600 hover:text-green-600 transition-all" do %>

  <span class="text-9xl leading-none ">+</span>
  <span class="mb-4 text-2xl font-bold">
    Agregar un portafolio
  </span>
<% end %>

<% end %>
