<div id="<%= dom_id client %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= client.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= client.last_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= client.phone %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Channel:</strong>
    <%= client.channel %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Broker:</strong>
    <%= client.broker %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= client.email %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= client.notes %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Goals:</strong>
    <%= client.goals %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= client.user_id_id %>
  </p>
</div>
