  <!-- Sidebar -->
  <%= render "partials/sidebar" %>

  <!-- Lead Details -->
  <div class="col-span-5 lg:col-span-4 xl:col-span-5 p-6 bg-white shadow-lg rounded-xl">
    <%= link_to "Volver a Clientes", clients_path, class: "text-green-600 hover:underline text-sm" %> |
    <%= link_to "Editar", edit_client_path, class: "text-green-600 hover:underline text-sm" %>


    <h1 class="text-3xl font-bold text-gray-800 mt-4">
      <%= @client.name %> <%= @client.last_name %>
    </h1>

    <div class="mt-4 space-y-2">
      <div>
        <span class="font-medium text-gray-600">Phone:</span>
        <span class="text-gray-800"><%= @client.phone %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Email:</span>
        <span class="text-gray-800"><%= @client.email %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Channel:</span>
        <span class="text-gray-800"><%= @client.channel %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Broker:</span>
        <span class="text-gray-800"><%= @client.broker %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Created At:</span>
        <span class="text-gray-800"><%= @client.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Goals:</span>
        <span class="text-gray-800"><%= @client.goals %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Notes:</span>
        <span class="text-gray-800"><%= @client.notes %></span>
      </div>
    </div>
  </div>
</div>
