<%= render "partials/tabbar" %>
<div class="col-span-6 p-6 bg-white shadow-lg rounded-xl">
  <div class="flex">
    <div class="ml-auto flex gap-4">
      <%= render "partials/import_export_buttons" %>
    </div>
  </div>
  <h1 class="text-2xl font-bold mb-4">Mis Leads</h1>
  <!-- Filter button with icon -->
  <div data-controller="filter">


  
  <% if @leads.blank? && params.keys.size <= 2 %>
    <div class="flex-col bg-green-950 bg-blur-sm shadow-lg rounded-lg p-5 w-96 h-100 m-auto text-white">
      <h2 class="text-4xl font-bold my-4 mx-4">Todavía no tenes leads!</h1>
      <p class="my-4 mx-4">Compartí tu link para ingresar nuevos prospectos</p>
      <div class="bg-slate-50 rounded-md my-4 mx-4 text-black text-center">localhost:3000/signup/<%= current_user.form_token %></div>
    </div>
  <% else %>

    <!-- Status Tabs -->
    <div class="flex flex-wrap items-center gap-1 sm:gap-2 mb-2">
      <button data-action="click->filter#toggle" class="inline-flex items-center px-3 py-1.5 border border-black rounded-md font-medium text-xs hover:bg-slate-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
        <span class="filter-icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
          </svg>
        </span>
        <span class="ml-1 button-text">Filtros</span>
      </button>
      <%= link_to "Todos", 
          leads_path(request.params.except(:status)), 
          class: "ml-auto px-3 py-2 text-sm font-medium rounded-lg transition-all duration-200 border #{params[:status].present? ? 'border-gray-300 text-gray-700 hover:bg-gray-100' : 'border-green-500 bg-green-600 text-white hover:bg-green-700'}" 
      %>
      
      <%= link_to "WIP", 
          leads_path(request.params.merge(status: 'active')), 
          class: "px-3 py-2 text-sm font-medium rounded-lg transition-all duration-200 border #{params[:status] == 'active' ? 'border-green-500 bg-green-600 text-white hover:bg-green-700' : 'border-gray-300 text-gray-700 hover:bg-gray-100'}" 
      %>
      
      <%= link_to "Nuevos", 
          leads_path(request.params.merge(status: 'fresh')), 
          class: "px-3 py-2 text-sm font-medium rounded-lg transition-all duration-200 border #{params[:status] == 'fresh' ? 'border-green-500 bg-green-600 text-white hover:bg-green-700' : 'border-gray-300 text-gray-700 hover:bg-gray-100'}" 
      %>
      
      <%= link_to "Convertidos", 
          leads_path(request.params.merge(status: 'converted')), 
          class: "px-3 py-2 text-sm font-medium rounded-lg transition-all duration-200 border #{params[:status] == 'converted' ? 'border-green-500 bg-green-600 text-white hover:bg-green-700' : 'border-gray-300 text-gray-700 hover:bg-gray-100'}" 
      %>
      
      <%= link_to "Bajas", 
          leads_path(request.params.merge(status: 'lost')), 
          class: "px-3 py-2 text-sm font-medium rounded-lg transition-all duration-200 border #{params[:status] == 'lost' ? 'border-green-500 bg-green-600 text-white hover:bg-green-700' : 'border-gray-300 text-gray-700 hover:bg-gray-100'}" 
      %>
    </div>

        <!-- Advanced Filtering -->
    <div data-filter-target="form" class="hidden">
      <%= render "filter" %>
    </div>
    
    <!-- Leads Table with Turbo Frame -->
    <turbo-frame id="leads_list" class="overflow-x-scroll">
      <%= render partial: 'leads_table', locals: { leads: @leads } %>
    </turbo-frame>
  <% end %>
</div>