  <!-- Sidebar -->
  <%= render "partials/tabbar" %>

  <!-- Lead Details -->
  <div class="col-span-6 p-6 bg-white shadow-lg rounded-xl">
    <%= link_to "Volver a Leads", leads_path, class: "text-green-600 hover:underline text-sm" %> |
    <%= link_to "Editar", edit_lead_path, class: "text-green-600 hover:underline text-sm" %>


    <h1 class="text-3xl font-bold text-gray-800 mt-4">
      <%= @lead.name %> <%= @lead.last_name %>
    </h1>

    <% if current_user.admin? %>
      <%= form_with url: assign_lead_path(@lead), method: :patch, local: true do |form| %>
        <%= form.label :assigned_user_id, "Assign to:" %>
          <%= form.select :assigned_user_id, options_from_collection_for_select(
            current_user.managed_team.members.reject { |user| user.name.nil? },
            :id,
            lambda { |user| "#{user.name} #{user.last_name}" }
          ), prompt: "Select team member" %>
        <%= form.submit "Assign" %>
      <% end %>
    <% end %>
    <div class="mt-4 space-y-2">
      <div>
        <span class="font-medium text-gray-600">Phone:</span>
        <span class="text-gray-800"><%= @lead.phone %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Email:</span>
        <span class="text-gray-800"><%= @lead.email %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Channel:</span>
        <span class="text-gray-800"><%= @lead.channel %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Broker:</span>
        <span class="text-gray-800"><%= @lead.broker %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Capital:</span>
        <span class="text-gray-800"><%= @lead.capital %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Created At:</span>
        <span class="text-gray-800"><%= @lead.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Description:</span>
        <span class="text-gray-800"><%= truncate(@lead.description, length: 50) %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Status:</span>
        <span class="text-gray-800"><%= @lead.status %></span>
      </div>

      <div>
        <span class="font-medium text-gray-600">Notes:</span>
        <span class="text-gray-800"><%= @lead.notes %></span>
      </div>
    </div>
  </div>
</div>
