<%= render "partials/sidebar" %>

<div class="col-span-5 lg:col-span-4 xl:col-span-5 p-6 bg-white shadow-lg rounded-xl">
  <h1 class="text-3xl font-bold mb-4"><%= current_user.team.name %></h1>
  <h1 class="text-2xl font-bold text-gray-800 mt-4">Invitación Manual</h1>
    <div class="flex flex-col items-stretch w-100 justify-between mt-3">
      <p class="block text-m font-medium text-gray-700">Copia el link debajo y envialo a los miembros de tu equipo para que puedan crear una cuenta</p>
      <div class="block bg-slate-50 rounded-md my-4 text-black">localhost:3000/team/join/<%= current_user.team.join_token %></div>
  <h1 class="text-2xl font-bold text-gray-800 mt-4">Invitar por Mail</h1>
    <div class="flex flex-wrap items-stretch w-100 justify-between mt-3">
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <% resource.class.invite_key_fields.each do |field| -%>
          <div class="field">
            <%= f.label field, class: "block text-sm font-medium text-gray-700" %><br />
            <%= f.text_field field, class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit t("devise.invitations.new.submit_button"), class: "mt-5 block bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
        </div>
      <% end %>
    </div>
    <% unless current_user.team.members.none? { |x| x.name.nil? } %>
      <h2 class="text-xl font-bold text-gray-700 mt-6 mb-3">Invitaciones Enviadas</h2>
      <div class="bg-gray-50 p-4 rounded-lg shadow-sm">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="align-bottom">
            <tr>
              <th class="px-6 py-3 font-bold text-xs text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap text-slate-500 opacity-70">Email</th>
              <th class="px-6 py-3 font-bold text-xs text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap text-slate-500 opacity-70">Fecha de Invitación</th>
              <th class="px-6 py-3 font-bold text-xs text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap text-slate-500 opacity-70"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% current_user.team.members.select { |x| x.name.nil? }.each do |user| %>
              <tr>
                <td class="pl-4 py-3 whitespace-nowrap text-sm text-gray-900"><%= user.email %></td>
                <td class="py-3 whitespace-nowrap text-center text-sm text-gray-500"><%= user.created_at.strftime('%d/%m/%Y') %></td>
                <td class="px-4 py-3 whitespace-nowrap text-center text-sm">
                  <%= button_to "Eliminar",
                      delete_user_invitation_path(user),
                      method: :delete,
                      class: "text-red-600 hover:text-red-800 bg-transparent border-0 p-0 cursor-pointer",
                      data: { turbo_confirm: "¿Eliminar invitación?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

