<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Prospex" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <style>
      /* Add padding to the bottom of the body or main content container */
      body {
        padding-bottom: 14rem; /* Adjust this value based on your tab bar height + extra space */
      }
    </style>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="bg-slate-50">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="<%= notice_banner(name) %> 
           px-3 py-2 rounded-md shadow-sm fixed top-3 right-3 w-72 flex items-center z-50 text-sm"
           role="alert"
           data-controller="alert">
        <strong class="font-medium"><%= name.titleize %>:</strong>
        <span class="ml-1 mr-6"><%= msg %></span>
        <button class="absolute top-0 bottom-0 right-0 px-2 opacity-60 hover:opacity-100 transition-opacity"
                data-action="click->alert#close">
          <span class="text-lg">&times;</span>
        </button>
      </div>
    <% end %>
  <% end %>
  <main class="grid grid-cols-6 h-dvh px-16 pt-6 pb-24">
    <%= yield %>
  </main>
    <%=  turbo_frame_tag "modal" %>
</body>
</html>
